.collection-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px;
}

.input-field {
    text-align: left;
    width: 100%;
    margin-bottom: 40px;
}

.input-info label {
    font-size: 20px;
    font-weight: 600;
}

.input-info span {
    font-size: 15px;
    font-weight: 400;
    color: #9b9b9b;
}

.custom-input-text {
    border: none;
    border-bottom: 1px solid black;
    padding: 8px 4px;
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
}

.custom-input-text:focus {
    outline: none;
}

.animal-type-buttons {
    display: flex;
}

.animal-type {
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
    margin-right: 20px;
    padding: 8px 28px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}

.animal-type:hover {
    cursor: pointer;
}

input#agree-checkbox {
    display: none;
}

input#agree-checkbox+label {
    cursor: pointer;
}

.checkbox-label {
    font-size: 20px;
}

input#agree-checkbox+label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -4px;
}

/* CSS for the checked state in label:before */
input#agree-checkbox:checked+label:before {
    content: '✔';
    background-color: #f2d7c0;
    text-align: center;
}

/* Mobile view */
@media screen and (max-width: 768px) {
    .collection-info-container {
        padding: 15px;
    }
}